<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="999999999" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <sessionState timeout="1440"></sessionState>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <httpRuntime maxRequestLength="62914560" targetFramework="4.5" />
    <globalization culture="auto" uiCulture="auto" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>
  <connectionStrings>
    <!--<add name="MOFGOVMNConn" connectionString="server=10.11.11.79;User Id=leadermonitoring;Persist Security Info=True;database=newmof;password=leadermonitoring" providerName="MySql.Data.MySqlClient"/>-->
    <add name="HRMISDBCONN" connectionString="Data source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.11.11.42)(PORT = 1521))(CONNECT_DATA =(SID=CMCDBBT)));User ID=hrdbuser;Password=hrdbuser;Unicode=true;Pooling=True;" providerName="Oracle.DataAccess.Client" />
    <!--<add name="HRMISDBCONN" connectionString="Data source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))(CONNECT_DATA =(SID=CMCDBBT)));User ID=hrdbuser;Password=hrdbuser;Unicode=true;Pooling=True;" providerName="Oracle.DataAccess.Client" />-->
    <add name="CMCDBCONN" connectionString="Data source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.11.11.42)(PORT = 1521))(CONNECT_DATA =(SID=CMCDBBT)));User ID=hr_mof;Password=cmcocprab;Unicode=true;Pooling=True;" providerName="Oracle.DataAccess.Client" />
    <!--<add name="CMCDBCONN" connectionString="Data source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))(CONNECT_DATA =(SID=CMCDBBT1)));User ID=hr_mof;Password=cmcocprab;Unicode=true;Pooling=True;" providerName="Oracle.DataAccess.Client" />-->
    <!--<add name="IBConn" connectionString="ctype=NONE;unicode_mode=true;ctype_none=WIN1252;auto_commit=True;Data Source=SY_AC2019;dbclient_library=;dbclient_type=ib;Location=localhost:C:\Users\gunds\Desktop\GUNDSAMBA\PROJECTS\AcolousPayroll\db\SY_AC2019.GDB;named_param_rules=1;Password=masterkey;Persist Security Info=True;Provider=LCPI.IBProvider.5;User ID=SYSDBA;" providerName="System.Data.OleDb" />
    <add name="IBConn_Payroll" connectionString="ctype=NONE;unicode_mode=true;ctype_none=WIN1252;auto_commit=True;Data Source=SYAM_PAYROLL2019;dbclient_library=;dbclient_type=ib;Location=localhost:C:\Users\gunds\Desktop\GUNDSAMBA\PROJECTS\AcolousPayroll\db\SYAM_PAYROLL2019.GDB;named_param_rules=1;Password=masterkey;Persist Security Info=True;Provider=LCPI.IBProvider.5;User ID=SYSDBA;" providerName="System.Data.OleDb" />-->
    <add name="IBConn" connectionString="ctype=NONE;unicode_mode=true;ctype_none=WIN1252;auto_commit=True;Data Source=SY_AC2020;dbclient_library=;dbclient_type=ib;Location=mof0005102:D:\Acolous2020\Database\sYam\SY_AC2020.GDB ;named_param_rules=1;Password=masterkey;Persist Security Info=True;Provider=LCPI.IBProvider.5;User ID=SYSDBA;" providerName="System.Data.OleDb" />
    <add name="IBConn_Payroll" connectionString="ctype=NONE;unicode_mode=true;ctype_none=WIN1252;auto_commit=True;Data Source=SYAM_PAYROLL2020;dbclient_library=;dbclient_type=ib;Location=mof0005102:D:\Acolous2020\Database\SYAM_PAYROLL2020.GDB;named_param_rules=1;Password=masterkey;Persist Security Info=True;Provider=LCPI.IBProvider.5;User ID=SYSDBA;" providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <rewrite>
      <rules>
        <rule name="Rewrite to login.aspx">
          <match url="^login" />
          <action type="Rewrite" url="login.aspx" />
        </rule>
        <!--<rule name="Rewrite to doc/index.aspx">
          <match url="^" />
          <action type="Rewrite" url="doc/index.aspx" />
        </rule>-->
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="HRWebApp.webservice.ServiceMainAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="HRWebApp.webservice.ServiceMainAspNetAjaxBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="HRWebApp.webservice.ServiceMain" behaviorConfiguration="HRWebApp.webservice.ServiceMainAspNetAjaxBehavior">
        <!--<endpoint address="" behaviorConfiguration="HRWebApp.webservice.ServiceMainAspNetAjaxBehavior" binding="webHttpBinding" contract="HRWebApp.webservice.IServiceMain" bindingConfiguration="webHttpsBinding" />-->
        <endpoint address="" behaviorConfiguration="HRWebApp.webservice.ServiceMainAspNetAjaxBehavior" binding="webHttpBinding" contract="HRWebApp.webservice.IServiceMain" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="Service1Soap">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webHttpsBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <appSettings>
    <add key="JsonStatusSuccess" value="0" /><!--Must be interger-->
    <add key="JsonStatusFailed" value="1" /><!--Must be interger-->
  </appSettings>
  <!--<system.data>
    <DbProviderFactories>
      <remove invariant="Borland.Data.AdoDbxClient" />
      <add name="AdoDbx Data Provider" invariant="Borland.Data.AdoDbxClient"
           description=".Net Framework Data Provider for dbExpress Drivers"
           type="Borland.Data.TAdoDbxProviderFactory, Borland.Data.AdoDbxClient, 
           Version=16.0.0.0, Culture=neutral, PublicKeyToken=91d62ebb5b0d1b1b"/>
      <remove invariant="Borland.Data.DbxClientDriver" />
      <add name="Datasnap AdoDbx Data Provider" invariant="Borland.Data.DbxClientDriver"
           description=".Net Framework Data Provider for Datasnap"
           type="Borland.Data.TAdoDbxDatasnapProviderFactory, 
           Borland.Data.DbxClientDriver, Version=16.0.0.0, Culture=neutral, 
           PublicKeyToken=91d62ebb5b0d1b1b"/>
    </DbProviderFactories>
  </system.data>-->
</configuration>